<div class="containter p-5">
  <div class="pdf-viewer">
    <a href="https://api.cloudinary.com/v1_1/parcelr/image/download?api_key=375714259447871&attachment=true&audit_context=eyJhY3Rvcl90eXBlIjoidXNlciIsImFjdG9yX2lkIjoiN2U5NzljZjYwNGM4OWI1ODBhMWZlYjY2OTRjN2Q5MzQiLCJ1c2VyX2V4dGVybmFsX2lkIjoiZDVkZjk3OGYwZmY5NmViNTNlNTc2YzMzODAxYmMxIiwidXNlcl9jdXN0b21faWQiOiJrb2x5c19vQGhvdG1haWwuZnIiLCJjb21wb25lbnQiOiJjb25zb2xlIn0%3D&public_id=cerfa_13410-05_CR_23_12_2020-06-19_185522_wyktqx&signature=54cc898afd817e35d1725f67a73390e3bc927220&target_filename=cerfa_13410-05_CR_23_12_2020-06-19_185522_wyktqx.pdf&timestamp=1592473211&type=upload" target="_blank">
      <%= image_tag("http://res.cloudinary.com/parcelr/image/upload/v1592470653/cerfa_13410-05_CR_23_12_2020-06-19_185522_wyktqx.png") %>
    </a>
  </div>
</div>
