<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Antonincholet/parcelr"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-data">
      Données publique issue de <a href="https://www.geoportail.gouv.fr/" target="_blank">
        <%= image_tag "logo-geoportail.png", alt: "logo-geoportail.png" %></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
