<div class="container background-color=$gray border">
  <h2>FICHE TECHNIQUE PARCELLE</h2>
  <p>
    Voir informations envoyées par GEOPORTAIL
  </p>
  <div>
   <%= link_to "Générer ma demande", , class="btn $blue py-3 px-4" %>
  </div>
</div>

