.button {
  height: 48px;
  padding: 0 20px;
  background: #E0F7FF;
  border: 1px solid #1F3B4B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  text-align: center;
  transition: all .4s ease-out;
    &:hover {
      background: #417488;
      color: white;
    }
}

.button-link {
  padding: 20px 20px;
  color: black;
    &:hover {
      text-decoration: none;
    }
}


