.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
}

.navbar {
  background: radial-gradient(circle, rgba(65,116,136,1) 60%, rgba(255,255,255,0) 100%) left bottom no-repeat;
  background-size:100% 1px;
}
