// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/map";

.body {
  background-color: #F8F8F8;
}

.main-page {
  min-height: 80vh;
}

.my-custom-control {
  color: #f00;
  background: #000;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
}

.parcel-data td {
  margin: 0px 20px;
  padding: 5px 20px;
}

.parcel-data td:first-child {
  font-weight: bolder;
}


